
.container {
	margin-top: 0px;
	margin: 0px 5px;
}

body {
	overflow-y: hidden;
	overflow-x: hidden;
}

.continueBtn {
	background-color: #0a6ed1;
	color: #ffffff !important;
	border: 1px solid #204d74;
	border-radius: 4px;
	width: 90px;
	font-family: Arial;
	font-size: 14px;
}

i.glyphicon {
    font-size: 18px;
}

.sub-title {
	font-weight: bold;
	margin: 5px 0;
}

